# Traefik Dynamic Configuration

http:
  middlewares:
    cors:
      headers:
        accessControlAllowOriginList:
          - "https://stylipp.com"
          - "http://localhost:5173"
        accessControlAllowMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "DELETE"
          - "PATCH"
          - "OPTIONS"
        accessControlAllowHeaders:
          - "*"
        accessControlMaxAge: 86400
